@model IoF_Admin.Models.Fish

@{
    ViewData["Title"] = "Create new Fish";
}

<h2>Create new Fish</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Fish</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Channel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Channel" class="form-control" />
                <span asp-validation-for="Channel" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SecondsActive" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SecondsActive" class="form-control" />
                <span asp-validation-for="SecondsActive" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Office" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @*<select asp-for="OfficeId" asp-items="ViewBag.Offices"></select>*@
                @{ var offices = (IEnumerable<SelectListItem>)ViewData["Offices"]; }
                <select asp-for="OfficeId" asp-items="offices" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Aquarium" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @*<select asp-for="OfficeId" asp-items="ViewBag.Offices"></select>*@
                @{ var aquariums = (IEnumerable<SelectListItem>)ViewData["Aquariums"]; }
                <select asp-for="AquariumId" asp-items="aquariums" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
