@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<img src="~/images/aquarium.png" style="float:left; padding-right:30px" />
<p><cite>ERNI IoF (Internet of Fish) visualizes our 100 x 100 strategy with an interactive distributed system that easily connects ERNI offices around the globe through gamification.</cite></p>
<p>
    ERNI OfficeFish shall be found in every ERNI Office around the globe. The fish are held in an aquarium and shall be triggered by a physical user interaction, like tapping on the glass. When a user in one office interacts with the fish, those fish representing it in other offices shall react and start swimming. After we realized our 100 x 100 Strategy we will have 10'000 fish distributed over all ERNI Offices.
</p>
<p>
    What is the unique selling point of this product?
</p>
<ul>
    <li>The ERNI IoF connects ERNI offices around the globe,</li>
    <li>Spawning social interaction among ERNIans globally and</li>
    <li>Builds on the strengths of ERNI to make technology amiable.</li>
</ul>


