@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <a href="http://erni-consultants.com/"><img src="~/images/logo.png" style="margin-bottom:20px; margin-top:10px" /></a><br />

    ERNI Consulting AG<br />
    Casinoplatz 2<br />
    CH-3011 Bern<br />

    <abbr title="Phone">P:</abbr>
    + 41 31 381 76 11
</address>

<address>
    <strong>More information:</strong> <a href="http://erni-consultants.com/en/contact">Contact us</a><br />
</address>
